# Step by step to solve the problem

In [ ]:
import spacy
from spacy.training.example import Example
# Load Pkgs
import pandas as pd
import numpy as np
import numpy as np
from spacy.matcher import PhraseMatcher 
import matplotlib.pyplot as plt

In [168]:
nlp = spacy.load('en_core_web_sm')

In [169]:
def offseter(lbl, doc, matchitem):
    o_one = len(str(doc[0:matchitem[1]]))
    subdoc = doc[matchitem[1]:matchitem[2]]
    o_two = o_one + len(str(subdoc))
    return (o_one, o_two,lbl)

In [170]:
df = pd.read_csv("Raw_Skills_Dataset.csv")
lab = pd.read_csv("Example_Technical_Skills.csv")

In [185]:
df.head()

          RAW DATA
0         what ifs
1        seniority
2      familiarity
3  functionalities
4          lambdas

In [173]:
replacer = {'\n':'',"[\[].*?[\]]": "",'[!"#%\'()*+,-./:$&;<=>?@\[\]^_`{|}~’""′‘\\\]':"", ' +': ' '}
lab['Technology Skills'] = lab['Technology Skills'].replace(replacer, regex=True)

replacer = {'\n':'',"[\[].*?[\]]": "",'[!"#%\'()*+,-./:$&;<=>?@\[\]^_`{|}~’""′‘\\\]':"", ' +': ' '}
df['RAW DATA'] = df['RAW DATA'].replace(replacer, regex=True)

In [174]:
for i in range(len(lab)):
    lab['Technology Skills'][i]=lab['Technology Skills'][i].lower()
    
for i in range(len(lab)):
    df['RAW DATA'][i]=df['RAW DATA'][i].lower()

In [184]:
lab.head()

                     Technology Skills
0                  sap fiori developer
1  oracle instance management strategy
2         boomi master data management
3   digital manufacturing on cloud dmc
4                               devops

In [187]:
df

                                          RAW DATA
0                                         what ifs
1                                        seniority
2                                      familiarity
3                                  functionalities
4                                          lambdas
...                                            ...
34111                                  negotiation
34112                                    deadlines
34113  Selfmotivated enthusiastic and strong drive
34114                                  negotiation
34115                                    deadlines

[34116 rows x 1 columns]

# Setup the phrase matches

In [177]:
label = "Skill"
matcher = PhraseMatcher(nlp.vocab)
for i in lab['Technology Skills']:
    matcher.add(label,None,nlp(i))

# Extract Technical Hard skills from a list of technical skills

In [180]:
res = []
to_train_ents = []

for line in df['RAW DATA']:
    mnlp_line = nlp(line)
    matches = matcher(mnlp_line)
    res = [offseter(label,mnlp_line,x) for x in matches]
    if res!=[]:
        to_train_ents.append((line,dict(entities = res)))

In [181]:
skill = []
for i in range(len(to_train_ents)):
    start = to_train_ents[i][1]['entities'][0][0]
    end = to_train_ents[i][1]['entities'][0][1]+1
    skill.append(to_train_ents[i][0][start:end].strip())

# Unique technical skill contain in the raw data

In [182]:
skill = set(skill )
skill =list(skill)
print(skill)

['big data', 'calculations', 'forcecom', 'embedded systems', 'infrastructure deployment', 'power platform', 'scss', 'openshift', 'mysql', 'application integration', 'bitbucket', 'eac', 'github', 'bash', 'eclipse', 'architect', 'devops', 'gulp', 'compliance', 'recruiting']

# Line that contain technical skill

In [195]:
line = [to_train_ents[i][0] for i in range(len(to_train_ents))]

In [197]:
line

['mysql',
 'github',
 'github',
 'devops engineers',
 'scss',
 'mysql',
 'eac',
 'big data pipelines',
 'big data pipelines',
 'a devops model',
 'devops',
 'devops',
 'devops',
 'devops',
 'openshift',
 'bitbucket',
 'eclipse sts',
 'linux bash scripting',
 'devops',
 'Build and architect systems',
 'gulp',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'bash',
 'devops tools',
 'devops tools',
 'devops tools',
 'devops tools',
 'devops tools',
 'devops tools',
 'devops tools',
 'devops tools',
 'devops tools',
 'devops tools',
 'devops tools',
 'embedded systems',
 'regulatory compliance',
 'technical regulatory and compliance environments',
 'embedded systems',
 '100 compliance',
 'our devops',
 'bash',
 'CCPA compliance management',
 'an elastic big data analytics platform',
 'the forcecom platform',
 'the forcecom platform',
 'application integration patterns',
 'internal data compliance processes',
 'internal data compliance processes',
 'a Linux andor embedded systems environment',
 'a Linux andor embedded systems environment',
 'recruiting',
 'big data pipelines',
 'a fulltime enterprise architect',
 'recruiting',
 'recruiting',
 'recruiting',
 'WCAG AA compliance',
 'compliance assessments',
 'compliance procedures',
 'embedded systems',
 'SDLC compliance',
 'bitbucket',
 'bash',
 'project compliance security testing',
 'recruiting software',
 'automated infrastructure deployment',
 'devops',
 '· Design and architect solutions',
 'devops',
 'big data system architectures',
 'devops tool stack',
 'regulatory compliance',
 'bash',
 'Scope and design power platform driven solutions',
 'java eclipse',
 'gulp',
 'a software architect',
 ' Ensure and Review application compliance',
 'a technical architect',
 'technical architect',
 'technical architect',
 'technical architect',
 'a technical architect',
 'technical architect',
 'technical architect',
 'a technical architect',
 'a technical architect',
 'technical architect',
 'technical architect',
 'technical architect',
 'embedded systems',
 'embedded systems',
 'embedded systems',
 'devops deliverysupport models',
 'a blockchain architect',
 'compliance and regulatory requirements',
 'big data architectures',
 'scss Javascript fundamentals',
 'compliance awareness',
 'scss',
 'cloud infrastructure compliance',
 'hardware compliance',
 'general mathematical calculations']