In [167]:
import spacy
from spacy.training.example import Example
# Load Pkgs
import pandas as pd
import numpy as np
import numpy as np
from spacy.matcher import PhraseMatcher 
import matplotlib.pyplot as plt

In [168]:
nlp = spacy.load('en_core_web_sm')

In [169]:
def offseter(lbl, doc, matchitem):
    o_one = len(str(doc[0:matchitem[1]]))
    subdoc = doc[matchitem[1]:matchitem[2]]
    o_two = o_one + len(str(subdoc))
    return (o_one, o_two,lbl)

In [170]:
df = pd.read_csv("Raw_Skills_Dataset.csv")
lab = pd.read_csv("Example_Technical_Skills.csv")

In [172]:
lab.head()

                       Technology Skills
0                    SAP Fiori Developer
1  Oracle Instance Management & Strategy
2           Boomi Master Data Management
3  Digital Manufacturing on Cloud ( DMC)
4                                 DevOps

In [173]:
replacer = {'\n':'',"[\[].*?[\]]": "",'[!"#%\'()*+,-./:$&;<=>?@\[\]^_`{|}~’""′‘\\\]':"", ' +': ' '}
lab['Technology Skills'] = lab['Technology Skills'].replace(replacer, regex=True)

replacer = {'\n':'',"[\[].*?[\]]": "",'[!"#%\'()*+,-./:$&;<=>?@\[\]^_`{|}~’""′‘\\\]':"", ' +': ' '}
df['RAW DATA'] = df['RAW DATA'].replace(replacer, regex=True)

In [174]:
for i in range(len(lab)):
    lab['Technology Skills'][i]=lab['Technology Skills'][i].lower()
    
for i in range(len(lab)):
    df['RAW DATA'][i]=df['RAW DATA'][i].lower()

In [175]:
lab.head()

                     Technology Skills
0                  sap fiori developer
1  oracle instance management strategy
2         boomi master data management
3   digital manufacturing on cloud dmc
4                               devops

In [176]:
df.head()

          RAW DATA
0         what ifs
1        seniority
2      familiarity
3  functionalities
4          lambdas

# Setup the phrase matches

In [177]:
label = "Skill"
matcher = PhraseMatcher(nlp.vocab)
for i in lab['Technology Skills']:
    matcher.add(label,None,nlp(i))

# Extract Technical Hard skills from a list of technical skills

In [180]:
res = []
to_train_ents = []

for line in df['RAW DATA']:
    mnlp_line = nlp(line)
    matches = matcher(mnlp_line)
    res = [offseter(label,mnlp_line,x) for x in matches]
    if res!=[]:
        to_train_ents.append((line,dict(entities = res)))

In [181]:
skill = []
for i in range(len(to_train_ents)):
    start = to_train_ents[i][1]['entities'][0][0]
    end = to_train_ents[i][1]['entities'][0][1]+1
    skill.append(to_train_ents[i][0][start:end].strip())

In [182]:
skill = set(skill )
skill =list(skill)
print(skill)

['big data', 'calculations', 'forcecom', 'embedded systems', 'infrastructure deployment', 'power platform', 'scss', 'openshift', 'mysql', 'application integration', 'bitbucket', 'eac', 'github', 'bash', 'eclipse', 'architect', 'devops', 'gulp', 'compliance', 'recruiting']